/TestaWhile.class
/Fatorial.class
/MultiplosDe3.class
/OlaMundo.class
/ProgramaComBreak.class
/TestaCaracteres.class
/TestaCondicional.class
/TestaCondicional2.class
/TestaConversao.class
/TestaEscopo.class
/TestaFor.class
/TestaLacos.class
/TestaLacos2.class
/TestaPontoFlutuante.class
/TestaSomatoria.class
/TestaSwitch.class
/TestaValores.class
/TestaVariaveis.class
